<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Dotnet Template Feed" value="https://dotnet.myget.org/F/templating/api/v3/index.json" />
    <add key="Dotnet Core Feed" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
  </packageSources>
</configuration>
