variables:
  ${{ if eq(variables['Build.Reason'], 'Schedule') }}:
    ENABLE_LONG_RUNNING_TESTS: true
    ENABLE_COMPLIANCE: true

jobs:
- job: Windows
  pool:
    vmImage: windows-latest
  steps:
  - template: common/build.yml
  - template: common/lint.yml
  - template: compliance/compliance.yml # Only works on Windows
  - template: common/test.yml

- job: Linux
  pool:
    vmImage: ubuntu-latest
  steps:
  - template: common/build.yml
  - template: common/publish-vsix.yml # Only publish vsix from linux build since we use this to release and want to stay consistent
  - template: common/lint.yml
  - template: common/test.yml

- job: macOS
  pool:
    vmImage: macOS-latest
  steps:
  - template: common/build.yml
  - template: common/lint.yml
  - template: common/test.yml

trigger:
  branches:
    include:
    - '*'

pr:
  branches:
    include:
    - '*'

schedules:
- cron: "30 7 * * *"
  displayName: Nightly at 12:30 PT
  always: true # Run even when there are no code changes
  branches:
    include:
    - master
